# Python in 40 Days
## How to use Jupyter Notebook
## Basics of Python

### 01 - My First Program

In [47]:
print(2+3)
print('Hello World')
print('We are learning python with baba Aammar')

5
Hello World
We are learning python with baba Aammar

### 02 - Operators

In [48]:

print(2+1)
print(3-1)
print(100/2)
print(999/33)
print(189%4)
print (188//4)
print(5**6)
print(3**2/3*6*2/3-7)

3
2
50.0
30.272727272727273
1
47
15625
5.0

### 03 Strings

In [49]:
print('Hello World')
print('We are learning python with baba Aammar')
print('Hello World')
print('Test for single quotes')
print("Test for double quotes")
print('''Test for tripple quotes''')
print("what's up?")

Hello World
We are learning python with baba Aammar
Hello World
Test for single quotes
Test for double quotes
Test for tripple quotes
what's up?

### 04 Comments

In [50]:
print('How are you?') #print a string
print('We are learning python with baba Aammar')#print a string
print(2+6) #print operators function with numbers

How are you?
We are learning python with baba Aammar
8

### 05 Variables

In [51]:
fruit_baskets = 8
fruit_baskets ="mangoes"
print(type(fruit_baskets))
print(fruit_baskets)

<class 'str'>
mangoes

### 06 Input Variables

In [52]:
name = input("what is your name?")
age = input("what is your age?")
greetings = 'Hello'
print(greetings , name , " you are still young")

what is your name?asad
what is your age?27
Hello asad  you are still young

### 07 Conditional Logics

In [53]:
age_at_school = 5
hammad_age = input("How old is hammad?")
hammad_age = int(hammad_age)
print(type(hammad_age))
print(hammad_age == age_at_school)

How old is hammad?4
<class 'int'>
False

### 08 Type Conversion

In [54]:
name = input('what is your name?')
print(name, type(str(name)))

what is your name?asad
asad <class 'str'>

### 09 If_else_elif

In [55]:
required_age_at_school = 5
hammad_age = 10

if hammad_age == required_age_at_school:
    print('Hammad can join the school')
elif hammad_age > required_age_at_school:
    print('Hammad should join Higher secondary school')
else :
    print('Hammad can not join the school')

Hammad should join Higher secondary school

### 10 Functions

In [56]:
def print_Codanics():
    print('We are learning python with baba Aammar')
    print('We are learning python with baba Aammar')
    print('We are learning python with baba Aammar')
print_Codanics()

We are learning python with baba Aammar
We are learning python with baba Aammar
We are learning python with baba Aammar

In [57]:
def print_Codanics():
    text = 'We are learning python with baba Aammar in Codanics Youtube Channel'
    print(text)
    print(text)
    print(text)
print_Codanics()

We are learning python with baba Aammar in Codanics Youtube Channel
We are learning python with baba Aammar in Codanics Youtube Channel
We are learning python with baba Aammar in Codanics Youtube Channel

In [58]:
def print_Codanics(text):
    print(text)
    print(text)
    print(text)
    
print_Codanics('We are learning python with baba Aammar in Codanics Youtube Channel :D')

We are learning python with baba Aammar in Codanics Youtube Channel :D
We are learning python with baba Aammar in Codanics Youtube Channel :D
We are learning python with baba Aammar in Codanics Youtube Channel :D

In [59]:
def school_calculator(age):
    if age == 5:
        print('Hammad can join the school')
    elif age > 5:
        print('Hammad should join Higher secondary school')
    else :
        print('Hammad is still a baby')
    
school_calculator(2)

Hammad is still a baby

In [60]:
def future_age(age):
    new_age = age+20
    return new_age

future_age(37)

57

### 11 Loops

In [61]:
#While Loop
x = 0
while (x<7):
    print('countdown',x)
    x= x+1

countdown 0
countdown 1
countdown 2
countdown 3
countdown 4
countdown 5
countdown 6

In [62]:
#For Loop
for x in range(7,15):
    print('countdown',x)

countdown 7
countdown 8
countdown 9
countdown 10
countdown 11
countdown 12
countdown 13
countdown 14

In [63]:
# Array
days = ['mon','tue','wed','thurs','fri','sat','sun']
for d in days:
    if d=='sat' or d=='sun':
        continue
    else:
        print('workink days  :',d)

workink days  : mon
workink days  : tue
workink days  : wed
workink days  : thurs
workink days  : fri

### 12 Import Libraries

In [64]:
import math
radius = 8
print('area of circle is', math.pi*radius**2)

area of circle is 201.06192982974676

In [65]:
import numpy as numpy
counts = [720,744,765,786]
print('Mean of counts is ', numpy.mean(counts))

Mean of counts is  753.75

### 13 Troubleshooting

In [66]:
print('syntax error)

SyntaxError: EOL while scanning string literal (2838698879.py, line 1)

In [67]:
#Runtime Error
print(25/0)

ZeroDivisionError: division by zero