# 21- Jupyter notebook in VScode

In [10]:
print('Python Jupyter Notebook in  VS Code')

Python Jupyter Notebook in  VS Code

## Print my name

In [11]:
name = 'asad'
print('my name is ' , name)

my name is  asad

In [12]:
import numpy as np
x = np.array([1,2,3,4,5,6,7])
x

array([1, 2, 3, 4, 5, 6, 7])

## Importing Data set using Pandas

In [13]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
chilla = pd.read_csv('ChillaData.csv')
chilla.head()

,Timestamp,Gender,Location,Age,Qualification,field_of_study,Purpose_for_chilla,Experience,Age1,What are you?,...,Weight,Height,Glasses,First line of code,Programming language,Marital Status,Coding Hours,Vaccinated,Load shedding,Area
0,1/4/22 18:05,Male,Pakistan,21-25,Bachelors,CS/IT,to boost my skill set,0,90.0,Unemplyed,...,90.0,1.40,No,In this chilla,Python,No,4.0,Yes,5,Rural
1,1/4/22 18:09,Female,Pakistan,46-60,Masters,Others,Awen,10.1,46.4,Employed,...,90.0,158.00,Yes,In this chilla,Python,Yes,5.0,Yes,1,Rural
2,1/4/22 18:05,Male,Pakistan,41-45,Masters,CS/IT,to boost my skill set,20.5,44.8,Employed,...,70.5,1.76,Yes,<3 years ago,Python,Yes,1.0,Yes,3,Urbun
3,1/4/22 18:05,Male,West,41-45,Masters,CS/IT,to boost my skill set,20,43.0,Employed,...,82.5,182.50,Yes,>3 years ago,Others,Yes,1.0,Yes,0,International
4,1/4/22 18:05,Female,Pakistan,41-45,Masters,Enginnering,to boost my skill set,4,43.0,Employed,...,70.0,1615.00,Yes,>3 years ago,C++,Yes,1.0,Yes,4,Rural